@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img src="/Imagenes/logo CreArte.png" alt="CreArte Logo" class="img-fluid mb-4" />
    <h2>CreArte</h2>
    <h1>¡Bienvenido a CreArte!</h1>
    <h2>¡Explora tu creatividad!</h2>
    <h3>¡Inspírate y crea!</h3>
    <h4>¡Comparte tu arte con el mundo!</h4>
    <h5>¡Únete a nuestra comunidad de artistas!</h5>
    <h6>¡Descubre nuevas formas de expresión artística!</h6>
    <h1>¡Desarrolla tus habilidades artísticas!</h1>
    <p>CreArte es un proyecto de software que busca fomentar la creatividad y el arte en la comunidad.</p>
    <p>Este proyecto está diseñado para ser una plataforma donde los usuarios pueden explorar, crear y compartir sus obras de arte.</p>
    <p>CreArte ofrece una variedad de herramientas y recursos para ayudar a los artistas a desarrollar sus habilidades y conectarse con otros creativos.</p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
