@{
    ViewData["Title"] = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="home-center">
    <!-- Logo centrado -->
    <img src="~/Imagenes/logoCreArte.png" alt="CreArte Manualidades" class="home-logo" />
</div>

@* Si quieres mostrar un aviso con tu color #C5D930, ejemplo: *@
@if (TempData["Mensaje"] != null)
{
    <div class="alert alert-paleta mt-3" role="alert">
        @TempData["Mensaje"]
    </div>
}
